h1 {
  color: #007acc;
  text-align: center;
  text-transform: uppercase;
}

table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
  background-color: #ffffff;
}

table th,
table td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
}

footer {
  text-align: center;
  margin-top: 40px;
  font-size: 14px;
}
